<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Registration Form</title>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>

  <div class="form-container">
    <h2>Register</h2>
    <form action="/signup" method="post">
      <div>Username<input type="text" name="username"></div>
      <div>Phone<input type="text" name="phone"></div>
      <div>Password<input type="text" name="password"></div>
      <div>Account<input type="text" name="accounttype"></div>
      <div><input type="submit" name="" id=""></div>
    </form>
  </div>

</body>
</html>

